doctype html
html(lang="en")
  head 
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title=title
    link(rel="stylesheet", href="/css/main.css")
  body 
    nav.clearfix
      div.zv-logo-top
        div.zv-logo
      div.zv-logo-bottom
      ul.zv-nav
        li
          a(href="/") Home
        if pages && pages.length
          for page in pages
            li
              a(href="/page/#{page.slug}")=page.title

    div.zv-container
      block wrapper

    footer &copy;2014 Kent English

    script(src="/js/lib/fastclick.js")
    script(src="/js/lib/highlight.pack.js")
    script.
      hljs.initHighlightingOnLoad();
