@charset "UTF-8";

@import 
  "settings",
  "normalize",
  "highlight",
  "loading",
  "nav",
  "post";

html, body {
  background-color: $background-color;
  height: 100%;
  overflow-y: auto;
}

footer {
  font-size: 12px;
  margin: 60px 0 10px 0;
}

a {
  color: darken($primary-color, 10%);
  &:visited {
    color: darken($primary-color, 10%);
  }
  &:hover {
    color: darken($primary-color, 20%);
  }
}

blockquote {
  @extend .panel;
}

.panel.browsehappy {
  margin: 0;
}

.zv-container {
  height: 100%;
  overflow-y: auto;
  > div {
    min-height: 640px;
    padding: 5px 10px;
  }
}

.reveal-modal {
  button {
    margin-bottom: 0;
  }
}

@media #{$medium-up} {
  .zv-container {
    > div {
      padding: 10px 20px;
    }
  }
}

@media #{$large-up} {
  .zv-container {
    > div {
      margin: 0 auto;
      max-width: 1024px;
      padding: 20px 40px;
    }
  }
}

